
<!-- templates/email_template.html -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   
    <style>
        /* Your existing styles */
        .comparison-table {
            width: 100%;
            border-collapse: collapse;
        }
        .comparison-table th, .comparison-table td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }
        .comparison-table th {
            background-color: #f2f2f2;
        }
    </style>

  </head>
  <body style="font-family: Arial, sans-serif">
    <p>Dear All,</p>


    <table style="width: 50%; border-collapse: collapse; margin-bottom: 20px">
      <tr>
        <th
          style="
            border: 1px solid #000;
            padding: 8px;
            text-align: left;
            background-color: #000080;
            color: white;
          "
        >
          Fleet Control Number :
        </th>
        <td style="border: 1px solid #000; padding: 8px">
          {{ data.FLEET_CONTROL_NO|default:"N/A" }}
        </td>
      </tr>
      <tr>
        <th
          style="
            border: 1px solid #000;
            padding: 8px;
            text-align: left;
            background-color: #000080;
            color: white;
          "
        >
          Plate Number :
        </th>
        <td style="border: 1px solid #000; padding: 8px">
          {{ data.registration.0.REGISTRATION_NO1|default:"N/A" }}
        </td>
      </tr>
      <tr>
        <th
          style="
            border: 1px solid #000;
            padding: 8px;
            text-align: left;
            background-color: #000080;
            color: white;
          "
        >
          Vin :
        </th>
        <td style="border: 1px solid #000; padding: 8px">
          {{ data.VIN_NO|default:"N/A" }}
        </td>
      </tr>
      <tr>
        <th
          style="
            border: 1px solid #000;
            padding: 8px;
            text-align: left;
            background-color: #000080;
            color: white;
          "
        >
          Manufacturer :
        </th>
        <td style="border: 1px solid #000; padding: 8px">
          {{ data.MANUFACTURER|default:"N/A" }}
        </td>
      </tr>
      <tr>
        <th
          style="
            border: 1px solid #000;
            padding: 8px;
            text-align: left;
            background-color: #000080;
            color: white;
          "
        >
          Model :
        </th>
        <td style="border: 1px solid #000; padding: 8px">
          {{ data.MODEL|default:"N/A" }}
        </td>
      </tr>
      <tr>
        <th
          style="
            border: 1px solid #000;
            padding: 8px;
            text-align: left;
            background-color: #000080;
            color: white;
          "
        >
          Vehicle Type :
        </th>
        <td style="border: 1px solid #000; padding: 8px">
          {{ data.VEHICLE_TYPE|default:"N/A" }}
        </td>
      </tr>
      <tr>
        <th
          style="
            border: 1px solid #000;
            padding: 8px;
            text-align: left;
            background-color: #000080;
            color: white;
          "
        >
          Model Year :
        </th>
        <td style="border: 1px solid #000; padding: 8px">
          {{ data.MODEL_YEAR|default:"N/A" }}
        </td>
      </tr>
      <tr>
        <th
          style="
            border: 1px solid #000;
            padding: 8px;
            text-align: left;
            background-color: #000080;
            color: white;
          "
        >
          Company Name :
        </th>
        <td style="border: 1px solid #000; padding: 8px">
          {{ data.COMPANY_NAME|default:"N/A" }}
        </td>
      </tr>

      <tr>
        <th
          style="
            border: 1px solid #000;
            padding: 8px;
            text-align: left;
            background-color: #000080;
            color: white;
          "
        >
          Division Name :
        </th>
        <td style="border: 1px solid #000; padding: 8px">
          {{ data.allocation.0.DIVISION|default:"N/A" }}
        </td>
      </tr>

      <tr>
        <th
          style="
            border: 1px solid #000;
            padding: 8px;
            text-align: left;
            background-color: #000080;
            color: white;
          "
        >
          Location Name :
        </th>
        <td style="border: 1px solid #000; padding: 8px">
          {{ data.allocation.0.OPERATING_LOCATION|default:"N/A" }}
        </td>
      </tr>
      <tr>
        <th
          style="
            border: 1px solid #000;
            padding: 8px;
            text-align: left;
            background-color: #000080;
            color: white;
          "
        >
          Status :
        </th>
        <td style="border: 1px solid #000; padding: 8px">
          {{ data.STATUS}}
        </td>
      </tr>
      <tr>
        <th
          style="
            border: 1px solid #000;
            padding: 8px;
            text-align: left;
            background-color: #000080;
            color: white;
          "
        >
          Comments :
        </th>
        <td style="border: 1px solid #000; padding: 8px">
          {{ data.COMMENTS }}
        </td>
      </tr>
      <tr>
        <th
          style="
            border: 1px solid #000;
            padding: 8px;
            text-align: left;
            background-color: #000080;
            color: white;
          "
        >
          Action :
        </th>
        <td style="border: 1px solid #000; padding: 8px">
          {{ data.ACTION }}
        </td>
          </tr>
          {% if is_new_submission %}
          <tr>
              <th style="border: 1px solid #000; padding: 8px; text-align: left; background-color: #000080; color: white;">
                  Created By :
              </th>
              <td style="border: 1px solid #000; padding: 8px">
                  {{ data.CREATED_BY|default:"N/A" }}
              </td>
          </tr>
          <tr>
              <th style="border: 1px solid #000; padding: 8px; text-align: left; background-color: #000080; color: white;">
                  Created Date :
              </th>
              <td style="border: 1px solid #000; padding: 8px">
                  {{ data.CREATION_DATE|default:"N/A" }}
              </td>
          </tr>
      {% else %}
          {% if Action == 'Modified' or action != 'Approved' %}
          <tr>
              <th style="border: 1px solid #000; padding: 8px; text-align: left; background-color: #000080; color: white;">
                  Modified By :
              </th>
              <td style="border: 1px solid #000; padding: 8px">
                  {{ data.LAST_UPDATED_BY|default:"N/A" }}
              </td>
          </tr>
          <tr>
              <th style="border: 1px solid #000; padding: 8px; text-align: left; background-color: #000080; color: white;">
                  Modified Date :
              </th>
              <td style="border: 1px solid #000; padding: 8px">
                  {{ data.LAST_UPDATE_DATE|default:"N/A" }}
              </td>
          </tr>
      {% elif action == 'Approved' %}
      <tr>
            <th style="border: 1px solid #000; padding: 8px; text-align: left; background-color: #000080; color: white;">
                Approved By :
            </th>
            <td style="border: 1px solid #000; padding: 8px">
                {{ data.LAST_UPDATED_BY|default:"N/A" }}
            </td>
        </tr>
        <tr>
            <th style="border: 1px solid #000; padding: 8px; text-align: left; background-color: #000080; color: white;">
                Approved Date :
            </th>
            <td style="border: 1px solid #000; padding: 8px">
                {{ data.LAST_UPDATE_DATE|default:"N/A" }}
            </td>
        </tr>
    {% endif %}
{% endif %}
      
      
      
   
    {% if not is_new_submission and comparison_data %}
<h2>Modified Fields:</h2>
<table class="comparison-table">
    <tr>
        <th>Field</th>
        <th>Previous Value</th>
        <th>New Value</th>
    </tr>
    {% for field in comparison_data %}
    <tr>
        <td>{{ field.column_name }}</td>
        <td>{{ field.column_value1 }}</td>
        <td>{{ field.column_value2 }}</td>
    </tr>
    {% endfor %}
</table>
{% endif %}


      
    </table>
    <p>
      <a href="{{ data.fleet_master_url }}" style="color: #0000EE; text-decoration: underline;">
          Click here to view more details
      </a>
    </p>
    <p>Thanks,<br />System Generated</p>
  </body>
</html>



{% comment %} Request for AY-1000226 is submitted by the User :JABIRALI
Request for AY-1000226 is approved by the User :MALI2 {% endcomment %}